<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CIEL UE 235{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ path('plat_index') }}">UE 235</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav justify-content-end navbar-nav">

                    {% if allPlats.getPlats() is defined %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Plats
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('plat_index') }}">Tous les plats</a>
                            </li>
                            {% for plat in allPlats.getPlats() %}
                            <li>
                                <a class="dropdown-item" href="{{ path('plat_show', {'id': plat.id}) }}">{{ plat.nom }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('plat_index') }}">Plats</a>
                    </li>
                    {% endif %}

                    {% if allCategories.getCategories() is defined %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a>
                            </li>
                            {% for category in allCategories.getCategories() %}
                            <li>
                                <a class="dropdown-item" href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('plat_new') }}">Ajouter un plat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_new') }}">Ajouter une catégorie</a>
                    </li>

                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
