{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}
    <h1 class="text-center">Plats</h1>

    <div class="container">

    <table class="table table-primary table-striped align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th class="col-md-1">Nom</th>
                <th class="col-md-1">Catégorie</th>
                <th >Description</th>
                <th class="col-md-1">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.nom }}</td>
                <td>
                    {% if plat.Category.name is defined %}
                    {{ plat.Category.name }}
                    {% endif %}
                </td>
                <td>{{ plat.description }}</td>
                <td>
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-primary" role="button" href="{{ path('plat_show', {'id': plat.id}) }}">Voir</a>
                        <a class="btn btn-outline-primary" role="button" href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun plat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-grid gap-2">
        <a class="btn btn-primary" role="button" href="{{ path('plat_new') }}">Ajouter un article</a>
    </div>
{% endblock %}
